body {
        /*font: 24px Helvetica;*/
        background: #e9ece5;
        max-width: 75%;
        margin: 0 auto;
    }

main {
        /*min-height: 800px;*/
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: column;
    }

main > article {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #cccc33;*/
        /*border-radius: 7pt;*/
        /*background: #dddd88;*/
        flex: 3 1 60%;
        order: 2;
        text-align: center;
    }

main > nav {
        margin: 0px;
        padding: 5px;
        /*border: 1px solid #8888bb;*/
        border-radius: 0pt;
        background: #b3c2bf;
        flex: 1 6 20%;
        order: 1;
        text-align: center;
    }

main > aside {
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ccccff;
        flex: 1 6 20%;
        order: 3;
    }

header{
        display: block;
        margin: 4px;
        padding: 5px;
        /*min-height: 100px;*/
        /*border: 1px solid #eebb55;*/
        border-radius: 0pt;
        background: #ffeebb;
    }
#title {
        display: block;
        margin: 1px;
        padding: 5px;
        min-height: 3em;
        /*border: 1px solid #eebb55;*/
        border-radius: 0pt;
        background: #c0dfd9;
        text-align: center;
    }
nav > a:link {
        color: #3b3a36;
        text-decoration: none;
}
nav > a:visited {
        color: #3b3a36;
        text-decoration: none;
}
nav > a:hover {
        color: #e9ece5;
        text-decoration: none;
}
nav > a:active {
        color: #3b3a36;
        text-decoration: none;
}
article > a:link {
        color: #3b3a36;
        text-decoration: none;
}
article > a:visited {
        color: #3b3a36;
        text-decoration: none;
}
article > a:hover {
        color: #b3c2bf;
        text-decoration: none;
}
article > a:active {
        color: #3b3a36;
        text-decoration: none;
}
.wrap {
      margin: 0 auto;
}
.sitetitle {
      text-align: center;

}
h1,h2,h3,h4 {
  font-family: "Myriad Pro", clean, sans-serif;

}
p {
  font-family: "Myriad Pro", clean, sans-serif;
  max-width: 80%;
  display: inline-block;
  text-align: left;
}

main > nav > a {
  font-family: "Myraid Pro", clean, sans-serif;
}

.returntoTop {
  font-family: "Myraid Pro", clean, sans-serif;
}

.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeringwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
        display: block;
        margin: 4px;
        padding: 5px;
        /*min-height: 100px;*/
        /*border: 1px solid #eebb55;*/
        border-radius: 0pt;
        background: #3b3a36;
    }
footer > p {
    color: #e9ece5;
}
